body {
  padding-top: 80px;
}

ul.skill-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.skill-list > li {
  display: inline-block;
  margin-right: 5px;
}

ul.skill-list > li:last-child {
  margin-right: 0;
}

.remove-skill {
  cursor: pointer;
  color: #a94442;
  padding-left: 3px;
}
